
.product-box .product-img img{
    width: 100%;
    transition: all 0.5s;
    border-radius: 15px 15px 0  0;
    background-size: cover;
    height: 240px;
}

.product-box p{
    font-size: 14px;
}
.product-box h6{
    font-size: 16px;
}
.product-box:hover{
    color: #000;
}
.product-box{
    display: block;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    color: #000;
    text-decoration: none;
}
.product-box:hover .action-bar{
    right: 10px;
}
.product-box .productdetails{
    padding: 15px;
}
.product-box{
    position: relative;
}
.product-box .whichlist{
    position: absolute;
    top: 15px;
    right: 10px;
}
.product-box .action-bar{
    position: absolute;
    top: 10%;
    right: -20px;
    transition: all 0.5s;
}
.product-box .product-img img:last-child{
    display: none;
}
.product-box:hover .product-img img:last-child{
    display: block;
    transition: all 0.5s;
}
.product-box:hover .product-img img:nth-child(1){
    display: none;
    transition: all 0.5s;
}
.gr-12{
    width:100%;
}
.gr-6{
    width: 48%;
}
.gr-4{
    width:32%
}
.gr-3{
    width: 24%;
}
.gr-12.product-box{
    display: flex;
    overflow: hidden;   
}
.gr-12.product-box .action-bar{
    top: 15%;
    left:20%;
    transition: all 0.5s;
    opacity: 0;
}
.product-box:hover .action-bar{
    opacity: 1;
}
.gr-12.product-box .product-img{
    padding: 15px;
}
.gr-12.product-box .whichlist{
    left: 20%;
}
.gr-12.product-box .productdetails {
    padding: 15px 25px;
}
.gr-12.product-box .product-img img{
    width: 170px;
}
.gr-12 .description{
    font-size: 12px;
}