.signup-wrapper{
    background-color: #f5f5f7;
    padding: 25px 0;
}
.signup-wrapper .signup-form{
    width: 100%;
    max-width: 450px;
    padding: 45px 35px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 15px;
}
.signup-wrapper button{
    width: 100%;
    max-width: 120px;
    text-align: center;
    background-color: #f5f5f7;
    letter-spacing: 1.5px;
    padding: 8px 0;
    margin-top: 20px;
    text-align: center;
    border: 1px solid #000;
    color: #000;
    outline: none;
    border-radius: 30px;
    font-weight: 500;
}